.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navigation{
  margin-bottom: 30px;
}

/* 
LeaderBoard
==========================*/

.user_cards.card .card-body {
  display: flex;
  justify-content: space-between;
}
.user_cards.question{
justify-content: space-around;
}
.user_avatar, .user_details {
  border-right: 2px solid #f1b7ed;
  padding: 30px 1px 20px;
}
.user_avatar img {
  max-width: 100px;
}
.user_details{
  text-align: left;
  width: 50%;
}
.user_score {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.award {
  width: 0px;
  height: 0px;
  border-top: 0px solid transparent;
  border-bottom: 55px solid transparent;
  border-left: 60px solid #343a40;
  position:relative;
}
svg.leader_board--icon {
  color: #fff;
  position: absolute;
  left: -59px;
  top: 3px;
}
.user_cards:first-of-type svg.leader_board--icon{
  color:#f0d01c!important;
}
.user_cards:nth-of-type(2) svg.leader_board--icon{
  color:#a84409!important;
}
.user_cards:last-of-type svg.leader_board--icon{
  color:#f8f8f8!important;
}
.signed_user{
  display:flex;
}
.signed_user-avatar{
  width:50px;
}
.signed_user-name{
  color:#fff;
  display: inline-block;
}
.question {
  width: 91%;
  padding-left: 20px;
}
.poll_button{
  width:100%;
}
.author {
  background: #555;
  color: #fff;
  padding: 5px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;}